<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AlphaHealthAssistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.caloriecal.CalorieCalLunch"
            android:label="Lunch"></activity>

        <activity
            android:name=".ui.caloriecal.CaloriecalDailyMeal"
            android:label="@string/title_activity_caloriecal_daily_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.caloriecal.CaloriecalBreakfast"
            android:label="Breakfast" />
        <activity
            android:name=".ui.caloriecal.CaloriecalDailyReport"
            android:label="@string/title_activity_caloriecal_daily_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.caloriecal.CaloriecalHistory"
            android:label="@string/title_activity_caloriecal_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AlphaHealthAssistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>