<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AlphaHealthAssistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.calorieburn.Final_result_view"></activity>
        <activity android:name=".ui.calorieburn.Report" />
        <activity
            android:name=".ui.calorieburn.shoulder_beginner"
            android:label="-Shoulder workouts-"
            android:parentActivityName=".ui.calorieburn.CalorieBurnBeginner" />
        <activity
            android:name=".ui.calorieburn.arm_beginner"
            android:label="-Arm workouts-"
            android:parentActivityName=".ui.calorieburn.CalorieBurnBeginner" />
        <activity
            android:name=".ui.calorieburn.leg_beginner"
            android:label="-Leg workouts-"
            android:parentActivityName=".ui.calorieburn.CalorieBurnBeginner" />
        <activity
            android:name=".ui.calorieburn.chest_beginner"
            android:label="-Chest workouts-"
            android:parentActivityName=".ui.calorieburn.CalorieBurnBeginner" />
        <activity
            android:name=".ui.calorieburn.ABS_Exercise_List"
            android:label="-abs workouts-"
            android:parentActivityName=".ui.calorieburn.CalorieBurnBeginner" />
        <activity
            android:name=".ui.calorieburn.CalorieBurnBeginner"
            android:label="CalorieBurnBeginner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.calorieburn.aaaaaaaaaaaa" />
        <activity android:name=".AlphaHealthAssistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>